<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Logs of yesterday
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="sendLogs()" expand="block" fill="clear" shape="round">
    Sync
  </ion-button>

  <!-- <ion-button (click)="sendLogs_all(today_or_yesterday='y')"   expand="block" fill="clear" shape="round">
    Sync_all_yesterday
  </ion-button>

  <ion-button (click)="Sync_today_incoming(today_or_yesterday='t')"  expand="block" fill="clear" shape="round">
    Sync_today_incoming
  </ion-button>

  <ion-button (click)="Sync_today_outgoing(today_or_yesterday='t')"  expand="block" fill="clear" shape="round">
    Sync_today_outgoing
  </ion-button> -->

  <!-- <ion-label>{{fromTime}}</ion-label> -->

    <ion-grid>
        <ion-row>
          <ion-col size="4">
              <ion-button (click)="getContacts('type','1','==')" size="small" color="success">Incoming</ion-button>
          </ion-col>
          <ion-col size="4">
              <ion-button (click)="getContacts('type','2','==')" size="small" color="warning">Outgoing</ion-button>
          </ion-col>
          <ion-col size="4">
              <ion-button (click)="getContacts('type','3','==')" size="small" color="danger">Missed</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <strong>{{listTyle}}</strong>
          </ion-col>
        </ion-row>
    </ion-grid>    
     
    <ion-card  *ngFor="let contact of recordsFound" (click)="callThisNumber(contact['number'])">
        <ion-card-header  *ngIf="contact['name']" >
          <ion-card-title>{{contact["name"]}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <strong>{{contact["number"]}}</strong>
        </ion-card-content>

        <ion-card-content>
          <strong>{{contact["duration"]}}</strong>
      </ion-card-content>
    </ion-card>

</ion-content>
