<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>dial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input placeholder="Phno" [(ngModel)]="val1"></ion-input>
  </ion-item>

  <ion-button (click)="call()">
    <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
    &nbsp;Dial
  </ion-button>


</ion-content>
