<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Service Agent Form</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="refresh-outline" (click)="this.fresh_data()" class="text-right"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="row mt-2  ml-3 mr-3 pl-3 pr-3 pb-3 pt-0 mb-2" *ngIf="this.shwCamera != true">
    <!-- <button (click)="upload_base64()">Upload Pic</button>
    <button ion-button (click)="callBtn()" class="btnstyl">Click Image</button> -->
  </div>
  <!-- <ion-button (click)="takePhoto()">Take Photo</ion-button> -->
  <div class="row text-center" *ngIf="this.shwCamera == true">
    <div class="col-12 text-center">
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="0.92"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"></webcam>
    <br/>
      <ion-button class="savebtn" *ngIf="showWebcam"
        (click)="triggerSnapshot();">
        Take A Snapshot
      </ion-button>
     
 
      <!-- <div class="actionBtn savebtn" (click)="showNextWebcam(true);" title="Switch Camera">Switch cam</div> -->
      <ion-button (click)="showNextWebcam(true);" class="savebtn">
        Switch cam
      </ion-button>
    </div>
   </div>
   <div class="col-4 ion-text-center">
    <img *ngIf="webcamImage && shwClkImg == true && this.shwCamera != true" [src]="webcamImage?.imageAsDataUrl"  
    style="height:70px;width:70px;border-radius:50%;" />
   </div>

  <div *ngIf="shwCamera == false">
  <ion-item class="text-right">
    <ion-searchbar [(ngModel)]="complaint_search_value" (ionClear)="cancel()" style="width:100%"></ion-searchbar>
    <ion-button (click)="searchArray()" expand="block" fill="clear" shape="round">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <!-- <ion-input placeholder="Remarks" [(ngModel)]="agent_desc"></ion-input> -->
    <ion-textarea placeholder="Remarks" [(ngModel)]="agent_desc"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Happy Code" [(ngModel)]="happycode"></ion-input>
  </ion-item>

  <ion-button (click)="callBtn()" class="savebtn">
    Click Image
  </ion-button>

  <ion-button (click)="upload_base64()" class="savebtn" [disabled] = "docid == ''">
    Upload Pic + Save
  </ion-button>

 
   <!-- video uploader for kranti meter start -->
  <br><br>
  <!-- <input type="file" (change)="showPreview($event)">
  <ion-button (click)="video_upload()" [disabled] = "docid == ''" class="savebtn">
    Upload video
  </ion-button> -->
  <!-- video uploader for kranti meter end -->


</div>
</ion-content>
