<ion-header>
  <ion-toolbar>
    <ion-title>call logs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-label>{{lunch}}</ion-label>
<ion-label>{{clicked_number}}</ion-label> -->

<ion-item>
  <ion-input placeholder="phno" [(ngModel)]="clicked_number"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="From time" [(ngModel)]="val2"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="To time" [(ngModel)]="val3"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Party Name" [(ngModel)]="val1"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Remarks" [(ngModel)]="val5"></ion-input>
</ion-item>

<ion-item>
 <ion-select placeholder="Type of call" multiple="false" okText="Okay" cancelText="Dismiss" [(ngModel)]="val4" >
    <ion-select-option value="Outgoing">Outgoing</ion-select-option>
    <ion-select-option value="Incoming">Incoming</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-select placeholder="Regarding" multiple="false" okText="Okay" cancelText="Dismiss" [(ngModel)]="val6" >
     <ion-select-option value="Order">Order</ion-select-option>
     <ion-select-option value="Payment">Payment</ion-select-option>
     <ion-select-option value="Despatch">Despatch</ion-select-option>
   </ion-select>
 </ion-item>

<ion-button (click)="CreateNewCalllog()">
  <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
  &nbsp;Create new Call
</ion-button>


</ion-content>
