<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>viewcalllogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-datetime value="2020-02-19" #myPicker placeholder="Select Date" [(ngModel)]="dt1" (ionChange)="fetchDate(myPicker.value)"></ion-datetime>
  </ion-item>

  <ion-button (click)="fetchRecords()" expand="block" fill="clear" shape="round">
    Fetch Records
  </ion-button>

  <ion-label>Call Register</ion-label>
  <!-- <ion-item *ngFor="let list of goalList">
    <ion-label>{{list.partyname}}</ion-label>
    <ion-label>{{list.number}}</ion-label>
    <ion-label>{{list.regarding}}</ion-label>
    <ion-label>{{list.typeofcall}}</ion-label>
    <ion-label>{{list.fromtime}}</ion-label>
    <ion-label>{{list.totime}}</ion-label>    
  </ion-item> -->

  <ion-card *ngFor="let list of goalList">
    <ion-card-header>
      <ion-card-title>{{list.partyname}}</ion-card-title>
      <ion-card-subtitle>No: {{list.number}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Regarding</ion-label>
          <ion-input type="text" readonly [(ngModel)]="list.regarding"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Type of Call</ion-label>
          <ion-input type="text" readonly [(ngModel)]="list.typeofcall"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>From Time</ion-label>
          <ion-input type="text" readonly [(ngModel)]="list.fromtime"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>To Time</ion-label>
          <ion-input type="text" readonly [(ngModel)]="list.totime"></ion-input>
        </ion-item>
      <!-- <ion-label>{{list.typeofcall}}</ion-label>
      <ion-label>{{list.fromtime}}</ion-label>
      <ion-label>{{list.totime}}</ion-label>   -->
    </ion-card-content>
  </ion-card>

</ion-content>
