<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modal.dismiss()">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <div class="date-position">{{getDataFormat()}}</div>
      <video class="video-preview" controls #myvideo>
      </video>
    </ion-col>
  </ion-row>


  <div *ngIf="progress" class="custom-row">
    <div>{{uploaded ?uploaded + '/' :''}} {{fileSize}}</div>
    <div (click)="cancelRequest()" class="right-part">Cancel</div>
  </div>
  <div class="progress" *ngIf="progress">
    <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
  </div>

</ion-content>