<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Log visit</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  Your Location:<br />

  latitude: {{location?.latitude}}<br />
  longitude: {{location?.longitude}} <br />
  accuracy : {{location?.accuracy}}<br />


  <!-- <ion-button (click)="getLocation()" >Get Latest Lat long</ion-button>

  <ion-button (click)="getLocationalert()" >Get Alert</ion-button> -->
  

  <ion-card style="height:150px!important">
    <!-- <ion-card-content>
      Result from scan:: {{scannedCode}}
      </ion-card-content> -->
      <ion-card-content>
        Location:: {{splitted_0}}
        </ion-card-content>

        <ion-card-content>
          Company:: {{splitted_1}}
          </ion-card-content>

          <!-- <ion-card-content>
            2:: {{splitted_2}}
            </ion-card-content> -->
  </ion-card>

<ion-button (click)="scanCode()" expand="block" fill="clear" shape="round" class="scanbtn">
  Scan
</ion-button>
  <ion-row text-center>
    <ion-col>
    </ion-col>
    <ion-col>



     

     <br/>
     <br/>
     <!-- <p class="centrbtn">
     <button *ngIf="!start" ion-button outline round block icon-right color="secondary" (click)="fnGetPedoUpdate()">start  <ion-icon name="play"></ion-icon> </button>
    <button *ngIf="start" ion-button outline round block icon-right color="danger" (click)="fnStopPedoUpdate()">stop  <ion-icon name="pause"></ion-icon> </button>
  </p>  -->
  <!-- <p class="count">{{stepCount}}</p>  -->
  
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-fab  middle>
		
	</ion-fab>

</ion-content>
