<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input placeholder="Name" [(ngModel)]="val1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Phone no 1" [(ngModel)]="val2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Phone no 2" [(ngModel)]="val3"></ion-input>
  </ion-item>

  <ion-button (click)="saveContact()">
    <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
    &nbsp;Save Contact
  </ion-button>



  <ion-button (click)="deleteContact()">
    <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
    &nbsp;Delete Contact
  </ion-button>


</ion-content>
