<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modal.dismiss()">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Image Preview</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div *ngIf="base64Url">
    <ion-row>
      <ion-col>
        <div class="date-position">{{getDataFormat()}}</div>
        <img [src]="base64Url" />
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="progress" class="custom-row">
    <div>{{uploaded ?uploaded + '/' :''}} {{fileSize}}</div>
    <div (click)="cancelRequest()" class="right-part">Cancel</div>
  </div>
  <div class="progress" *ngIf="progress">
    <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
  </div>
</ion-content>