.centrbtn
{
    text-align:center;
}
.centrbtn button{
    background-color:#3880ff;
    color:#fff;
    padding: 13px;
    font-size: 18px;
    width:100%;
    
}
.scanbtn
{
    background-color:#428945;
    color: #fff;
}