<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{stepCount}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Your Location:<br />

  latitude: {{location?.latitude}}<br />
  longitude: {{location?.longitude}} <br />
  accuracy : {{location?.accuracy}}<br />


  <!-- <ion-button (click)="getLocation()" >Get Latest Lat long</ion-button>

  <ion-button (click)="getLocationalert()" >Get Alert</ion-button> -->


  <ion-card style="height:150px!important">
    <!-- <ion-card-content>
      Result from scan:: {{scannedCode}}
      </ion-card-content> -->
    <ion-card-content>
      Location:: {{splitted_0}}
    </ion-card-content>

    <ion-card-content>
      Company:: {{splitted_1}}
    </ion-card-content>

    <!-- <ion-card-content>
            2:: {{splitted_2}}
            </ion-card-content> -->
  </ion-card>
  <!-- <input (change)="onFileSelect($event)" type="file" id="avatar" name="avatar"> -->
  <ion-row *ngIf="scanData && scanData.id">
    <ion-col>
      <ion-button (click)="takePicture()">Upload Photo</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="takeVideo()">Upload Video</ion-button>
    </ion-col>
  </ion-row>
  <ion-button (click)="scanCode()" expand="block" fill="clear" shape="round" class="scanbtn" *ngIf="showscan == true">
    Scan
  </ion-button>
  <ion-row text-center>
    <ion-col>
    </ion-col>
    <ion-col>
      <br />
      <br />
      <p class="centrbtn">
        <button *ngIf="!start" ion-button outline round block icon-right color="secondary"
          (click)="fnGetPedoUpdate()">start <ion-icon name="play"></ion-icon> </button>
        <button *ngIf="start" ion-button outline round block icon-right color="danger" (click)="fnStopPedoUpdate()">stop
          <ion-icon name="pause"></ion-icon> </button>
      </p>
      <!-- <p class="count">{{stepCount}}</p>  -->

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <!-- <ion-button (click)="scanCodetest()" expand="block" fill="clear" shape="round" class="scanbtn">
    Save test
  </ion-button> -->

</ion-content>