<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Office Plus</ion-title>
    <ion-buttons slot="end">
      <!-- <button ion-button (click)="stopbell()">Stop</button> -->
      <!-- <button ion-button (click)="createpopup(i)"><ion-icon name="notifications"></ion-icon><span>{{notification_length}}</span></button> -->
    </ion-buttons>
    <!-- <ion-icon name="add" (click)="createpopup(i)"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--[value]="{$value: followers}"-->
  <!-- <ion-select multiple="true" okText="Okay" cancelText="Dismiss" [(ngModel)]="followers" >
    <ion-select-option value="brown">Brown</ion-select-option>
    <ion-select-option value="blonde">Blonde</ion-select-option>
    <ion-select-option value="black">Black</ion-select-option>
  </ion-select> -->
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Office Plus - Call Logger Dashboard v1.0.28
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
