<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mark Attendance</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  Your Location:<br />

  latitude: {{location?.latitude}}<br />
  longitude: {{location?.longitude}} <br />
  accuracy : {{location?.accuracy}}<br />


  <!-- <ion-button (click)="getLocation()" >Get Latest Lat long</ion-button>

  <ion-button (click)="getLocationalert()" >Get Alert</ion-button> -->

  <ion-button (click)="takePicture()">
    Upload Photo
  </ion-button>

  <div *ngIf="base64Url">


    <ion-row>
      <ion-col>
        <div class="date-position">{{getDataFormat()}}</div>
        <img [src]="base64Url" />

      </ion-col>
    </ion-row>
    <div *ngIf="progress" class="custom-row">
      <div>{{uploaded ?uploaded + '/' :''}} {{fileSize}}</div>
      <div (click)="cancelRequest()" class="right-part">Cancel</div>
    </div>
    <div class="progress" *ngIf="progress">
      <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
    </div>
    <ion-row>
      <ion-col>
        <ion-button (click)="storeMarkAttendenace('in')">
          Mark In
        </ion-button>

        <ion-button (click)="storeMarkAttendenace('out')">
          Mark Out
        </ion-button>

      </ion-col>
    </ion-row>
  </div>



  <ion-fab middle>

  </ion-fab>

</ion-content>