img {
    width : 250px;
    height : 250px;
}

.date-position {
    color : yellow;
    position : absolute;
    left:110px;
    top :6px;
}


.progress {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    overflow: hidden;
  }

  .file-size {
      text-align: right;
      margin-top : 1rem;
  }
  
  .progress-bar {
    align-items: center;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  