/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.date-position {
  color: yellow;
  position: absolute;
  left: 110px;
  top: 6px;
}

.progress {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  display: flex;
  font-size: 1.2rem;
  height: 2rem;
  overflow: hidden;
}

.file-size {
  text-align: right;
  margin-top: 1rem;
}

.progress-bar {
  align-items: center;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
}

.custom-row {
  display: flex;
}

.margin-top-1 {
  margin-top: 1rem;
}

.right-part {
  margin-left: auto;
}
