<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Call</ion-title> 
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="openModaDirectly()">
        <ion-icon  name="apps-outline"></ion-icon>
      </button>
    </ion-buttons>     
         
  </ion-toolbar>
</ion-header>
  
<ion-content>

<ion-input type="text" placeholder="Enter name & press search" [(ngModel)]="search_contacts"></ion-input>

<ion-button (click)="search()">
  <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
  &nbsp;search
</ion-button>

<!-- <ion-button (click)="openModaWithData()">
  <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
  &nbsp;search
</ion-button> -->
  <!-- <ion-label>{{search_names}}</ion-label> -->

  <!-- <ion-list>
    <ion-item *ngFor = "let item of everybody  | async">

      <ion-icon name="call-outline" item-start *ngIf="contact.phoneNumbers"
      (click)="callContact(contact.phoneNumbers[0].value)"
      tappable></ion-icon>

      <ion-label>{{ item.name.givenName }}</ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list>

  <!-- <ion-item *ngFor="let contact of everybody | async"> -->
    <ion-item *ngFor="let contact of search_names | async">

    <ion-icon name="call-outline" item-start *ngIf="contact.phoneNumbers"
      (click)="callContact(contact.phoneNumbers[0].value)"
      tappable></ion-icon>

    <!-- <ion-label>
      {{contact.name.givenName}}
      {{contact.name.middleName}}
    </ion-label> -->

    <ion-label>{{contact.name.formatted}}</ion-label>
    <ion-icon name="open-outline" item-start *ngIf="contact.phoneNumbers"
    (click)="noCall_only_open_modal(contact.phoneNumbers[0].value)"
    tappable></ion-icon>
  </ion-item>

</ion-list>

</ion-content>
